/* ============================================================================================================
                        Begin block global theme colors (primary, accent and warn) for the app
=============================================================================================================== */
// main 3 colors for the app: primary, accent and warn. Change them here based on your design and following
// the material colors palette:
// references:
// https://material.angularjs.org/1.1.0/demo/colors
// https://material.angularjs.org/latest/Theming/01_introduction
// https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=2979FF
// https://material.angular.io/guide/theming

// A theme is a set of colors that will be applied to the Angular Material components.
// primary - used to represent primary interface elements for a user
// accent - used to represent secondary interface elements for a user
// warn - used to represent interface elements that the user should be careful of
// more: https://blog.thoughtram.io/angular/2017/05/23/custom-themes-with-angular-material.html#what-is-a-theme

// For material default palette:
// @import '@angular/material/core/theming/all-theme';
// $app-primary: mat-palette($mat-pink, 700, 500);
// $app-accent: mat-palette($mat-pink, A100);
// $app-warn: mat-palette($mat-red, 500, 600, A700);
// $app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@use '@angular/material' as mat;
mat.$theme-ignore-duplication-warnings: true; // Fix duplicate warning

$custom-global-typography: mat.m2-define-typography-config(
    $font-family: 'Arial, Verdana, sans-serif',
);

@include mat.elevation-classes();
@include mat.app-background();

$admin-layer: (
    50: #e0e7f6,
    100: #b3c4e9,
    200: #809cda,
    300: #4d74cb,
    400: #2657c0,
    500: #0039b5,
    600: #0033ae,
    700: #002ca5,
    800: #00249d,
    900: #00178d,
    A100: #b9c0ff,
    A200: #8692ff,
    A400: #5363ff,
    A700: #3a4cff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$app-primary: mat.m2-define-palette($admin-layer);
$app-accent: mat.m2-define-palette($admin-layer, A200, A100, A400);
$app-warn: mat.m2-define-palette(mat.$m2-red-palette);

$dark-theme: mat.m2-define-dark-theme(
    (
        color: (
            primary: $app-primary,
            accent: $app-accent,
            warn: $app-warn,
        ),
        typography: $custom-global-typography,
    )
);

$light-theme: mat.m2-define-light-theme(
    (
        color: (
            primary: $app-primary,
            accent: $app-accent,
            warn: $app-warn,
        ),
        typography: $custom-global-typography,
    )
);

@include mat.all-component-themes($light-theme);

.dark-mode {
    @include mat.all-component-themes($dark-theme);
}
