<div class="container-fluid px-0">
    <div class="row w-100">
        <div class="col w-25">
            <button class="btn btn-light btn-sm sidebar-toggle-btn d-none d-md-inline-flex" (click)="toggleExpanded()">
                <fa-icon [icon]="faMenu" size="lg" />
            </button>
        </div>
        <div class="col-6 w-50 text-center">
            <a [routerLink]="['/shop']" class="text-white text-decoration-none">
                <h5 class="m-0">Viniva Store</h5>
            </a>
        </div>
        <div class="col w-25 text-end">
            <a [routerLink]="['/cart']" class="button fancy-button text-white text-decoration-none">Shopping Cart ({{ items.length }})</a>
        </div>
    </div>
</div>
